@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

#header {
  background-color: #9a0680;
}

#header--nav {
  background-color: #9a0680;
  color: white;
}
.custom-title {
  color: white;
  letter-spacing: 2px;
  margin: 0px auto;
}
#title-dot {
  color: rgb(255, 211, 154);
  font-size: larger;
}

#register-btn {
  background-color: #781c68;
  color: white;
}
#register-btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  /* border-radius: ; */
}

#user-name {
  color: white;
}

#logout-btn {
  background-color: #781c68;
  color: white;
}

#logout-btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  /* border-radius: ; */
}

/* #all-card-holder {
  margin: 10px 10%;
} */

#main-body {
  margin: 10px 10%;
}

#post-auction {
  background-color: #9a0680;
  color: white;
}

#post-auction:hover {
  background-color: white;
  color: #9a0680;
  border: 1px solid #9a0680;
}

.change-btn-color {
  background-color: #9a0680;
  color: white;
  padding: 4px 13px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.change-btn-color:hover {
  background-color: white;
  border: 1px solid #9a0680;
  color: #9a0680;
}

#card-items,
#finished-card-items {
  box-shadow: 5px 5px 10px rgb(190, 186, 186);
}

.final-price,
.winner-announce {
  font-size: 20px;
}

.final-price > strong {
  color: #9a0680;
}

.winner-announce > strong {
  color: #9a0680;
}

#finished-card-items {
  position: relative;
}

.sold-out {
  position: absolute;
  height: 30px;
  width: 30%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  font-weight: bold;
  border-radius: 0px 0px 0px 8px;
}

#dashboard {
  color: white;
  font-weight: 500;
}
