@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

#header {
  background-color: #9a0680;
}

#header--nav {
  background-color: #9a0680;
  color: white;
}
.custom-title {
  color: white;
  letter-spacing: 2px;
}
#title-dot {
  color: rgb(255, 211, 154);
  font-size: larger;
}

#register-btn {
  background-color: #781c68;
  color: white;
}
#register-btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  /* border-radius: ; */
}

#user-name {
  color: white;
}

#logout-btn {
  background-color: #781c68;
  color: white;
}

#logout-btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  /* border-radius: ; */
}

/* #all-card-holder {
  margin: 10px 10%;
} */

#main-body {
  margin: 10px 10%;
}

#post-auction {
  background-color: #9a0680;
  color: white;
}

#post-auction:hover {
  background-color: white;
  color: #9a0680;
  border: 1px solid #9a0680;
}
#card-items {
  box-shadow: 5px 5px 10px rgb(190, 186, 186);
}
